# pandas iris case study

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

iris = sns.load_dataset('iris')
iris.mean()

C:\Users\AI\AppData\Local\Temp\ipykernel_2140\3604668864.py:7: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  iris.mean()

sepal_length    5.843333
sepal_width     3.057333
petal_length    3.758000
petal_width     1.199333
dtype: float64

In [7]:
iris.groupby(['species']).mean()

            sepal_length  sepal_width  petal_length  petal_width
species
setosa             5.006        3.428         1.462        0.246
versicolor         5.936        2.770         4.260        1.326
virginica          6.588        2.974         5.552        2.026

In [10]:
iris[iris['sepal_width']>3].groupby(['species']).mean()

            sepal_length  sepal_width  petal_length  petal_width
species
setosa          5.076190     3.528571      1.480952     0.254762
versicolor      6.487500     3.200000      4.650000     1.537500
virginica       6.805882     3.311765      5.717647     2.223529

In [11]:
iris.to_csv('iris.csv')