# Ex1 - Know your Data

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [15]:
chipo = pd.read_excel('chipo.xlsx')

### Step 4. See the first 10 entries

In [16]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1.0,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1.0,Izze,[Clementine],3.39
2,1,1.0,Nantucket Nectar,[Apple],3.39
3,1,1.0,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2.0,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,3,1.0,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
6,3,1.0,Side of Chips,NaN,1.69
7,4,1.0,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
8,4,1.0,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",9.25
9,5,1.0,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",9.25

### Step 5. What is the number of observations in the dataset?

In [46]:
# Solution 1

chipo.shape[0]

4623

In [47]:
# Solution 2

chipo.describe()
len(chipo)

4623

### Step 6. What is the number of columns in the dataset?

In [48]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [23]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [32]:
chipo.index

RangeIndex(start=0, stop=4623, step=1)

### Step 9. Which was the most-ordered item?

In [49]:
chipo['item_name'].value_counts().head(1)

Chicken Bowl    726
Name: item_name, dtype: int64

### Step 10. For the most-ordered item, how many items were ordered?

In [37]:
chipo['item_name'].value_counts()['Chicken Bowl']

726

### Step 11. What was the most ordered item in the choice_description column?

In [88]:
chipo['choice_description'].value_counts().head(1)

[Diet Coke]    134
Name: choice_description, dtype: int64

### Step 12. How many items were orderd in total?

In [51]:
chipo['quantity'].sum()

4972.0

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [89]:
chipo['item_price'].dtypes

dtype('float64')

#### Step 13.b. Create a lambda function and change the type of item price

In [56]:
lambda x: int(x) if isinstance(x, float) else x

#### Step 13.c. Check the item price type

In [58]:
chipo.item_price.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [96]:
revenue = (chipo['quantity']*chipo['item_price']).sum()
revenue

39237.02

### Step 15. How many orders were made in the period?

In [98]:
orders =chipo.order_id.value_counts().count()
orders

1835

### Step 16. What is the average revenue amount per order?

In [99]:
# Solution 1

average_order = revenue/orders
average_order

21.38257220708447

In [100]:
# Solution 2

chipo.groupby(by=['order_id']).sum().mean()['revenue']

21.38257220708447

### Step 17. How many different items are sold?

In [87]:
chipo.item_name.nunique()

50